:root {
  /*Typography*/
  --palette-text-primary : #fff,
  --palette-text-secondary : rgba(255, 255, 255, 7);
  --palette-text-disabled : #f5f5f5;
  --palette-text-white : white;

  /*Background*/
  --palette-background-header: #e6c725;
  --palette-background-navbar: #ff3131;
  --palette-background-black: #000000;
  --palette-background-paper : #ffffff14;
  --palette-btn-yellow: #d4b61c;

}

body{
  font-family: lato,sans-serif;
  margin: 0;
  line-height: 1.42857143;
  font-size: 14px;  
  background: var(--palette-text-disabled);
}

.container{
  margin-top: 18px;
  background: var(--palette-text-white);
}
.container-1{
  margin-top: 18px;
  background: var(--palette-text-white);
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.use h1,
.container h1{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px;
}
.container-1 h1{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px;
}

/*Container Header*/
.container-header{  
  background-color: var(--palette-background-black);
  display: flex;
  width: 100%;
  padding: 15px;
}
.header-logo{
  text-align: center;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo img{
  width: 90%;
  height: 80%;
  border-radius: 5px;
}
.menu-links{
  width: 70%;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu-links li{
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.menu-links li .icon{
  margin: 10px;
}
.menu-links li .icon svg{
  width: 34px;
  height: 34px;
  /*color: #2b73a3;*/
  color:var(--palette-background-header)
}
.menu-links li .text p{
  margin: 0;
  color: white;
}

/*Container Navbar*/
.container-nabvar{
  background-color: var(--palette-background-header);
}
.container-nabvar ul{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 70px;
}
.container-nabvar ul li{
  list-style: none;
  color: black;
  align-self: center;
  padding-left: 25px;
  padding-right: 25px;
}
.container-nabvar ul li:hover{
  color: white;
  cursor: pointer;
}
.container-nabvar ul li p{
  margin: 0;
  font-size: 19px;
}

/*New App Bar*/
.MuiToolbar-root{
  height: 70px;
}
.MuiToolbar-root div a {
  color: black;
}
.MuiToolbar-root div a button{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.MuiPaper-root .MuiToolbar-root{
  background-color: var(--palette-background-header);
  color: #000000;
}
.MuiPaper-root .css-1juivf6-MuiTypography-root{
    flex-grow: 0; 
}
.MuiDrawer-root .MuiPaper-root{
  width: 220px;
}
.MuiDrawer-root .MuiPaper-root ul {
  padding-top: 30px;
}
.MuiDrawer-root .MuiPaper-root ul li a {
  text-decoration: none;
}
.MuiDrawer-root .MuiPaper-root ul li a div{
  display: flex;
  align-items: center;
  color: black;
}
.MuiDrawer-root .MuiPaper-root ul li a div div span{
  padding-left: 15px;
}
/*Container Carrusel*/
.container-carrusel{
  border: 5px solid var(--palette-background-black);
}
.container-carrusel .carousel .carousel-inner{
  width: 100%;
}
.carousel .carousel-inner .active img{
  width: 100%;
}

.lineal{
  height: 8px;
  background: var(--palette-background-navbar);
}
.carousel-item img{
  width: 100%;
}
/*Categorries*/
.container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--palette-text-white);
}
.container-card .card-1{
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
}
.container-card .card-1:hover{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
}
.container-card .card-1 img{
  width: 100%;
}
.card-1 p{
  margin-top: 15px;
  color: white;
}

/*Blog*/
.container-blog{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--palette-text-white);
}
.container-blog img{
  padding-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-blog .card{
  background: var(--palette-text-disabled);
  /*padding: 30px;*/
  margin-bottom: 20px;
  cursor: pointer;
  width: 240px;
  height: 240px;
}
.container-blog .card:hover{
  box-shadow: 0px 0px 20px 1px rgb(112, 109, 109);
}
.card p{
  margin: 0;
}
.card .card-title strong{
  color: #363f4d;
  font-weight: 800;
}
.card .card-publicacion{
  color: gray;
  letter-spacing: .05em;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card .card-descripcion{
  text-align: justify;
  padding-bottom: 20px;
}
.card-Blog{
  width: 240px; 
  height: 240px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0 0 0 / .15);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 0.5s;
  margin-bottom: 20px;
}
.card-Blog .image{
  width: 140px; 
  height: 140px;
  background: #333;
  position: absolute;
  top: 20px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.content-Blog{
  position: absolute;
  top: 170px;
  width: 100%;
  height: 35px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  transition: 0.5s;
}
.content-Blog h2{
  color: var(--palette-btn-yellow);
  font-size: 1.5rem;
  font-weight: 500;
}
.content-Blog div strong{
  font-size: 14px;
}
.card-Blog:hover{
  height: 240px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}
.card-Blog:hover .image{
  top: -50px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0 0 0 / .3);
}
.card-Blog:hover .content-Blog{
  top: 80px;
  height: 250px;
}
.content-Blog a{
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
  background: var(--palette-btn-yellow);
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}
/*Formulario*/
.formulario{
  padding: 0px 30px 25px;
}
.formulario .input-2{
  display: flex;
}
.formulario .textarea textarea{
  width: 100%;
  margin: 5px;
}
.formulario .input-2 input{
  margin: 5px;
}
.css-v0vghe{
  margin: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-input{
  display: flex;
  align-items: center;
  margin: 1%;
  width: 100%;
}
.text-input svg{
  color: var(--palette-background-header);
}
.text-input div{
  width: 100%;
}
.centered button{
  background-color: var(--palette-background-header);
}
.MuiBox-root label span svg,
.MuiFormControl-root .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: var(--palette-background-header);
}
.MuiFormControl-root .css-85zwa9-MuiInputBase-root-MuiFilledInput-root:after,
.MuiFormControl-root .css-1ff8729-MuiInputBase-root-MuiFilledInput-root::after{
    border-bottom: 2px solid #e6c725;
}
.centered{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.container-1 .card{
  margin-top: 10px;
  max-width: 85%;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border: "none",
}
.container-1 .card-margin{
  margin-top: 10px;
}

.container-1 .card svg{
  font-size: xxx-large;
  color: var(--palette-background-header);
  margin: auto;
  margin-bottom: 15px;
}
.container-1 .card{
  width: 100%;
}
.container-1 .card .map{
  background: var(--palette-text-disabled);
  margin-bottom: 25px; 
}
.container-1 .card .map img{
  width: 70%;   
  margin: 15px; 
}
.container-1 .card .location div{
  display: flex;
  text-align: left;
  align-items: center;
  margin: 5px 0 5px 0;
}
.container-1 .card .location div svg{
  font-size: x-large;
  color: var(--palette-background-header);
  margin: inherit;
  margin-right: 5px;
}
.container-1 .card .location div p{
  margin-left: 5px;
}
.container-1 .card a .btn-contact{
  background: var(--palette-btn-yellow);
}
/*Footer*/
.container-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: var(--palette-background-black);
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-contacto ul img{
  width: 300px
}
.container-legal,
.container-contacto,
.container-redes {
  padding: 10px;
}
.container-legal ul,
.container-contacto ul {
  padding: 0;
}
.container-legal ul li,
.container-contacto ul li {
  list-style: none;
}
.container-redes ul{
  display: flex;
}
.container-redes .icons-redes img{
  margin: 10px;
  height: 40px;
  width: 40px;
}

/*Icono WhatsApp*/
.shake.svelte-pb3e4p {
    animation: svelte-pb3e4p-shake 6s infinite;
}
 button.svelte-pb3e4p {
    background: transparent url(https://leadgen-bricks-editor.rdops.systems/production-us-bricks-editor/static/media/social-button.f05441ea.png) center center no-repeat;
    border-radius: 0 !important;
    z-index: 900 !important;
    box-shadow: none !important;
    outline: none !important;
    width: 60px !important;
    height: 61px !important;
    background-size: 60px 60px !important;
    cursor: pointer !important;
    border: 0 !important;
    position: fixed !important;
    right: 2% !important;
    bottom: 30px !important;
}

@keyframes svelte-pb3e4p-shake {
4.5%, 10.5% {transform: translate(0px, 0px) rotate(0deg);}
5% {transform: translate(1px, 1px) rotate(0deg);}
5.5% {transform: translate(-1px, -2px) rotate(-1deg);}
6% {transform: translate(-3px, 0px) rotate(1deg);}
6.5% {transform: translate(3px, 2px) rotate(0deg);}
7% {transform: translate(1px, -1px) rotate(1deg);}
7.5% {transform: translate(-1px, 2px) rotate(-1deg);}
8% {transform: translate(-3px, 1px) rotate(0deg);}
8.5% {transform: translate(3px, 1px) rotate(-1deg);}
9% {transform: translate(-1px, -1px) rotate(1deg);}
9.5% {transform: translate(1px, 2px) rotate(0deg);}
10% {transform: translate(1px, -2px) rotate(-1deg);}
}


/*Page product*/
.container-img-nav{
  z-index: 299;
  height: 90px;
  background-color: #222222;
}

#u38332-6 {
  font-weight: 700;
  text-transform: uppercase;
}
.clearfix{
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.center ul{
  list-style: none;
}
.use{
  background-color: #FECB00;
}
.use h1{
  text-align: center;
}
.details-product{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.details-product div{
  text-align: center;
  width: 100px;
}
.details-product div img{ 
 background: white;
 border-radius: 10px;
}
.details-product div p{ 
 margin-top: 14px;
}
.details-product div img:hover{
  -webkit-tap-highlight-color: transparent; 
  background: white;
  border-radius: 100px;
}
.details-product div:hover{
  color: #7c7a7a;
}
.clearfix-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grpelem_shared{
  width: 300px;
  margin: 20px;  
  box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
}
.grpelem_shared iframe{
  width: 100%;
}

.container-nabvar{
    display: none;
  }

  /*About*/
.container-1,
.container{
  text-align: center;
}
.container-card-empresa{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}
.container-card-empresa .card_empresa{
  width: 50%;
}
.container .card_empresa div svg{
  font-size: xxx-large;
  color: var(--palette-background-header);
}
.container .card_empresa div,
.container-card-empresa .card_empresa div{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.container .card_empresa div span{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}
.container-card-empresa .card_empresa p{
  text-align: justify;
}
.container .card_empresa{
  text-align: justify;
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.padding-bottom{
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/*Productos*/
.clearfix h1{
  margin: 0;
  padding-bottom:0 ;
}
.clearfix #u38332-4{
  padding: 0 15px 15px;
}
.clearfix #u40614-2{
  margin-top: 15px;
}
.clearfix-p p{
  margin: 0;
  text-align: center;
}
.center .ul-product{
  text-align: initial;
}
.center .ul-product .ul-grup-1 li{
  padding: 5px;
  display: flex;
  align-items: center;
}
.center .ul-product .ul-grup-1 svg{
  color: var(--palette-background-header);
  margin-right: 8px;
}
.center .img-product {
  display: flex;
  align-items: center;
}
.grpelem_shared .colelem #u40617-2{
  font-size: 18px;
  margin: 0;
}
.grpelem_shared .colelem #u40630-2{
  font-size: 14px;
  margin: 0;
  color: #999999;
  font-style: italic;
}
.colelem .u406303{
  padding-bottom: 15px;
}
.lineal-yelow{
  margin: 15px 0 15px;
  width: 100%;
  height: 9px;
  background: #FECB00;
}
.container #table-001{
  width: 70%;
  margin: auto;
}
.aspectos{
  display: flex;
  width: 100%;
  justify-content: center;
}
.aspectos a{
  text-decoration: none;
  color: #000000;
}
.aspectos .aspectos-tecnicos{
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #646161;
}
.aspectos .aspectos-tecnicos:hover{
  background: white;
  box-shadow: 0px 0px 7px 1px #646161;
}
.use .aspectos .aspectos-tecnicos p{
  margin: 0;
  padding: 7px;
}
.use .aspectos .aspectos-tecnicos svg{
  margin: 3px;
}
.tb-01{
  padding-bottom: 20px;
  margin-bottom: 15px;
}

/*Media query*/
@media (max-width: 575px) {  
  body{
    font-size: 12px;
  }
  .container-card .card-1{
    width: 140px;
    height: 140px;
  }
  .container-1 .container-blog .card-Blog {
    width: 140px;
    height: 160px;
  }
  .container-1 .container-blog .card-Blog .image{
    width: 80px; 
    height: 80px;
  }
  .container-1 .container-blog .card-Blog .content-Blog{
    top: 105px;
  }
  .container-1 .container-blog .card-Blog:hover .image{
    top: -30px;
  }
  .container-1 .container-blog .card-Blog:hover .content-Blog{
    top: 40px;
  }
  .container-1 .container-blog .card-Blog .content-Blog h2{
    font-size: 20px;
    margin: 6px;
  }
  .container-1 .container-blog .card-Blog .content-Blog div strong{
    font-size: 10px;
  }
  .center{
    flex-wrap: wrap;
  }
  .img-product{
    margin: 15px 0 15px 0;
  }
  .ul-product .ul-grup-1{
    padding: 0;
    text-align: justify;
  }
  .aspectos{
    flex-wrap: wrap;
  }
  .container #table-001 {
    width: 95%;
    margin: auto;
  }
  button.svelte-pb3e4p{
    right: 3%!important;
  }  
  .MuiPaper-root .MuiToolbar-root {
    background-color: var(--palette-background-black);
    color: white;
  }
  .container-carrusel {
    border: 5px solid var(--palette-background-header);
  }
  .container-footer .container-legal h4,
  .container-footer .container-contacto h4,
  .container-footer .container-redes h4{
    font-size: 18px;
  }
  
}
@media (max-width: 620px) {
  .container-1{
    max-width: 100%;
  }
  .container-main .container-header{
    display: none;
  }   
  .MuiPaper-root .MuiToolbar-root {
    background-color: var(--palette-background-black);
    color: white;
  }
  .container-1 .card .map img {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 643px) {
  .container-nabvar{
    display: none;
  }
}
@media (max-width: 768px) {
  .container .container-card-empresa {
    display: block;
  }
  .container .container-card-empresa .card_empresa {
    width: 98%;
    margin:auto;
    margin-top:10px;
  }
  .container .card_empresa {
    width: 98%;
    margin:auto;
  }
  .details-product{
    flex-wrap: wrap;
  }
  .clearfix-card .grpelem_shared{
    width: 100%;
    margin: 10px 0;
  }
  .header-logo img {
    width: 60%;
  }
}
@media (max-width: 849px) {
  .container-header{
    display: block;
  }
  .header-logo{
    width: 80%;
    margin: auto;
  }
  .menu-links {
    display: none;
    width: 100%;
    justify-content: center;
  }
  .nav-link{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .text{
    text-align: center;
  }
  .header-logo img{
    width: 60%;
  }
}
  





