:root {
  /*Typography*/
  --palette-text-primary : #fff,
  --palette-text-secondary : rgba(255, 255, 255, 7);
  --palette-text-disabled : #f5f5f5;
  --palette-text-white : white;

  /*Background*/
  --palette-background-header: #e6c725;
  --palette-background-navbar: #ff3131;
  --palette-background-black: #000000;
  --palette-background-paper : #ffffff14;

}

body{
  font-family: lato,sans-serif;
  margin: 0;
  line-height: 1.42857143;
  font-size: 18px;  
  background: var(--palette-text-disabled);
}

.container{
  margin-top: 18px;
  background: var(--palette-text-white);
}
.container-1{
  margin-top: 18px;
  background: var(--palette-text-white);
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.container h1{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px;
}
.container-1 h1{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px;
}

/*Container Header*/
.container-header{  
  background-color: var(--palette-background-black);
  display: flex;
  height: 110px;
  width: 100%;
}
.header-logo{
  text-align: center;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo img{
  width: 60%;
  height: 80%;
  border-radius: 5px;
}
.menu-links{
  width: 70%;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu-links li{
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.menu-links li .icon{
  margin: 10px;
}
.menu-links li .icon svg{
  width: 34px;
  height: 34px;
  /*color: #2b73a3;*/
  color:var(--palette-background-header)
}
.menu-links li .text p{
  margin: 0;
  color: white;
}

/*Container Navbar*/
.container-nabvar{
  background-color: var(--palette-background-header);
}
.container-nabvar ul{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 70px;
}
.container-nabvar ul li{
  list-style: none;
  color: black;
  align-self: center;
  padding-left: 25px;
  padding-right: 25px;
}
.container-nabvar ul li:hover{
  color: white;
  cursor: pointer;
}
.container-nabvar ul li p{
  margin: 0;
  font-size: 19px;
}

/*Container Carrusel*/
.container-carrusel{
  border: 5px solid var(--palette-background-black);
}
.container-carrusel .carousel .carousel-inner{
  width: 100%;
}
.carousel .carousel-inner .active img{
  width: 100%;
}

.lineal{
  height: 8px;
  background: var(--palette-background-navbar);
}

/*Categorries*/
.container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--palette-text-white);
}
.container-card img{
  width: 90%;
}
.container-card .card-1{
  /*AGREGAR COLOR ROJO*/
  background: var(--palette-background-navbar);
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
}
.container-card .card-1:hover{
  box-shadow: 0px 0px 20px 1px rgb(112, 109, 109);
}
.container-card .card-1 img{
  filter: brightness(0) invert(1);
  width: 60%;
}
.card-1 p{
  margin-top: 15px;
  color: white;
}

/*
.container-card .card1{
  background-color: #2E8BD9;   
  width: 200px;
  height: 180px;
  margin-bottom: 15px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.container-card .card1:hover{
  box-shadow: 0px 0px 5px 3px #1A5276;
  background-color: #D4AC0D;
  background-color: #318bc7;
}
.container-card .card1 img{
  width: 30%;
  height: 30%;
  filter: brightness(0) invert(1);
  margin: 30px 0px;
}
.container-card .card1 img:hover{
  filter: brightness(0) invert(1);
}
.container-card .card1 p{
  color: white;
}
*/

/*Blog*/
.container-blog{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--palette-text-white);
}
.container-blog img{
  padding-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-blog .card{
  background: var(--palette-text-disabled);
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 280px;
  height: 400px;
}
.container-blog .card:hover{
  box-shadow: 0px 0px 20px 1px rgb(112, 109, 109);
}
.card p{
  margin: 0;
}
.card .card-title strong{
  color: #363f4d;
  font-weight: 800;
}
.card .card-publicacion{
  color: gray;
  letter-spacing: .05em;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card .card-descripcion{
  text-align: justify;
  padding-bottom: 20px;
}

/*Formulario*/
.contacto{
  /*background: var(--palette-background-header);*/
  border-radius: 10px;
}
.container-contact-email{
  width: 100%;
  display: flex;
  height: 44px;
  border: 1px solid red;
  border-radius: 15px;
  padding: 4px;
  background-color: white;
}
.container-contact-email input{
  padding-left: 15px;
  width: 70%;
  border: white;
  margin-right: 5px;
}
.container-contact-email input:focus{
  border: blue;
}
.container-contact-email button{
  border-radius: 10px;
}
.formulario{
  padding: 0px 30px 25px;
}
.formulario .input-2{
  display: flex;
}
.formulario .textarea textarea{
  width: 100%;
  margin: 5px;
}
.formulario .input-2 input{
  margin: 5px;
}
.css-v0vghe{
  margin: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-input{
  display: flex;
  align-items: flex-end;
  margin: 1%;
  min-width: 29%;
}
.text-input div{
  width: 100%;
}
.centered{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.contactanos{
    width: 80%;
    height: 120px;
    background: var(--palette-background-header);
    border-radius: 30px;
    margin: auto;
}

.contactanos button {
    display: none;
    height: 35px;
    margin-bottom: auto;
    margin-top: auto;
}
/*Footer*/
.container-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: var(--palette-background-black);
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container-contacto ul img{
  width: 300px
}
.container-legal,
.container-contacto,
.container-redes {
  padding: 20px;
}
.container-legal ul,
.container-contacto ul {
  padding: 0;
}
.container-legal ul li,
.container-contacto ul li {
  list-style: none;
}
.container-redes ul{
  display: flex;
}
.container-redes .icons-redes img{
  margin: 10px;
  height: 40px;
  width: 40px;
}

/*Icono WhatsApp*/
.shake.svelte-pb3e4p {
    animation: svelte-pb3e4p-shake 6s infinite;
}
 button.svelte-pb3e4p {
    background: transparent url(https://leadgen-bricks-editor.rdops.systems/production-us-bricks-editor/static/media/social-button.f05441ea.png) center center no-repeat;
    border-radius: 0 !important;
    z-index: 900 !important;
    box-shadow: none !important;
    outline: none !important;
    width: 60px !important;
    height: 61px !important;
    background-size: 60px 60px !important;
    cursor: pointer !important;
    border: 0 !important;
    position: fixed !important;
    right: 2% !important;
    bottom: 30px !important;
}

@keyframes svelte-pb3e4p-shake {
4.5%, 10.5% {transform: translate(0px, 0px) rotate(0deg);}
5% {transform: translate(1px, 1px) rotate(0deg);}
5.5% {transform: translate(-1px, -2px) rotate(-1deg);}
6% {transform: translate(-3px, 0px) rotate(1deg);}
6.5% {transform: translate(3px, 2px) rotate(0deg);}
7% {transform: translate(1px, -1px) rotate(1deg);}
7.5% {transform: translate(-1px, 2px) rotate(-1deg);}
8% {transform: translate(-3px, 1px) rotate(0deg);}
8.5% {transform: translate(3px, 1px) rotate(-1deg);}
9% {transform: translate(-1px, -1px) rotate(1deg);}
9.5% {transform: translate(1px, 2px) rotate(0deg);}
10% {transform: translate(1px, -2px) rotate(-1deg);}
}


/*Page product*/
.container-img-nav{
  z-index: 299;
  height: 90px;
  background-color: #222222;
}
#u37799 {
  z-index: 294;
  height: 502px;
  background-image: url("https://www.abacol.co/fibraplas_concrete/images/banner-pantalla-1.jpg?crc=3770388017");
  opacity: 1;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center top;
  filter: alpha(opacity=100);
  background-size: contain;
  border: 1px solid red;
}
#u38332-6 {
  font-weight: 700;
  text-transform: uppercase;
}
.clearfix{
  text-align: center;
}
.center{
  display: flex;
  justify-content: space-between;
}
.center ul{
  list-style: none;
}
.center .ul-grup-1{
  text-align: end;
}
.center .ul-grup-2{
  text-align: left;
}
.use{
  background-color: #FECB00;
}
.use h1{
  text-align: center;
}
.details-product{
  display: flex;
  justify-content: space-evenly;
  height: 240px;
}
.clearfix-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grpelem_shared{
  width: 350px;
  margin: 30px;  
  box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
}
.grpelem_shared iframe{
  width: 100%;
}



/*Media query*/
@media (max-width: 849px) {
  .menu-links {
    display: none;
  }
}